---
import Encabezados from '@components/Encabezados.astro';
import Layout from '@layouts/Layout.astro';
//i18n
import { getRelativeLocaleUrl } from 'astro:i18n';
const prueba = getRelativeLocaleUrl("fr", "prueba");
---

<Layout title="Fanny" description="Welcome to the home page FR">

    <main>
        <div class="grid contenido">

            <Encabezados txtayuda="Espace sacré" encabezado="Là où le corps et les émotions peuvent s'exprimer, bouger et se déplacer" />
           
        </div>
    </main>
</Layout>
