---
import Encabezados from '@components/Encabezados.astro';
import Testimoniales from '@components/Testimoniales.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Fanny Vandewiele / Sacred Place" description="Welcome to Sacred Place where the body and emotions can express, move and shift">

    <main>
        <div class="grid contenido">

            <Encabezados txtayuda='Sacred Space' encabezado='Where the Body and the Emotions can express, move, and shift' />
           
        </div>
    </main>
    <Testimoniales />
</Layout>
