---
import Layout from "@layouts/Layout.astro";

---
<Layout title="100 aniversary Ess Ski school Crans Montana" description="Welcome to the home page">

    <h1>Prueba de liga en aleman</h1>
</Layout>