---
import Encabezados from '@components/Encabezados.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Fanny Vandewiele / Sacred Place" description="One to One Theraphy">

    <main>
        <div class="grid contenido">

            <Encabezados txtayuda='One to One Therapy' encabezado='I meet you where you are, in the here and now' />
           
        </div>
    </main>
</Layout>