---
import Encabezados from '@components/Encabezados.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Fanny Vandewiele / Sacred Place" description="About me, Accompanying People Through Life's Processes">

    <main>
        <div class="grid contenido">

            <Encabezados txtayuda="About Me" encabezado="Accompanying People Through Life's Processes" />
           
        </div>
    </main>
</Layout>