---
import Encabezados from '@components/Encabezados.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Fanny Vandewiele / Sacred Place" description="Contact me, Together, we shape-shift what life brings">

    <main>
        <div class="grid contenido">

            <Encabezados txtayuda="Contact me" encabezado="Together, we shape-shift what life brings" />
           
    </div>
    </main>
</Layout>