---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Fanny" description="Welcome to the home page">

    <main>
        <div class="grid contenido">

            <h1>Iniciando!</h1>
           
        </div>
    </main>
</Layout>
