---
import Layout from '@layouts/Layout.astro';
import Loader from '@components/Loader.astro';
---

<Layout title="Fanny" description="Welcome to the home page">
    <Loader 
  duration={5000}  
  loadingText="Please wait..."  
/>
    <main>
        <div class="grid contenido">

            <h1>Iniciando!</h1>
            <img src="1.jpg" alt="carrousel image 1" />
            <img src="2.png" alt="carrousel image 2" />
            <img src="3.png" alt="carrousel image 3" />
        </div>
    </main>
</Layout>
