---
import Encabezados from '@components/Encabezados.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Fanny Vandewiele / Sacred Place" description="Women's Circle, Where we can practice and honor the divine feminine in us">

    <main>
        <div class="grid contenido">

            <Encabezados txtayuda="Women's Circle" encabezado='Where we can practice and honor the divine feminine in us' />
           
        </div>
    </main>
</Layout>