---
import Encabezados from '@components/Encabezados.astro';
import Prefooter from '@components/Prefooter.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Fanny Vandewiele / Sacred Place" description="Women's Circle, Where we can practice and honor the divine feminine in us">

    <main>
        <div class="grid contenido fondo-womens">

            <Encabezados txtayuda="Women's Circle" encabezado='Where we can practice and honor the divine feminine in us' />
           
        </div>

            <Prefooter span="For practical information:" encabezado="Contact me & you will be added to the Private Women’s Circle Whatsapp Group" btntxt="contact me" href="/contact" />
    </main>
</Layout>