---
interface Props {
    txtayuda: string;
    encabezado: string;
}
const{txtayuda,encabezado} = Astro.props;
---

<h1>
    <span>{txtayuda}</span>
    {encabezado}
</h1>

<style lang="scss">

    @use "../styles/variables.scss" as *;

    h1{
       color:$primario; 
       position: relative;
       text-align: center;
       margin: 20vh 2rem;
       line-height: 1.5cap;
       font-size:clamp(2.6rem, 6vw, 7rem);
       span{
        position: absolute;
        color: $oscuro;
        font-size: clamp(1rem, 1.5vw, 2rem);
        top: -5.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-family: "Montserrat", sans-serif;
    }
    @include cel{
        margin: 12vh 2rem;
        span{
            top: -3rem;
        }
    }
    }
</style>